{% set post = __SELF__.post %}
<script src="https://apis.google.com/js/platform.js" async defer>
    {lang: 'fr-CA'}
</script>
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

<div class="row">
    <div class="col-sm-3 col-xs-6 little-top-buffer">
        <i class="fa fa-calendar"></i> {{ post.published_at|date('d-m-Y') }}
    </div>
    <div class="col-sm-4 col-xs-6 little-top-buffer">
        <i class="fa fa-user"></i> {{ post.user.first_name }}
    </div>
    <div class="col-sm-5 col-xs-12 little-top-buffer">
        <i class="fa fa-folder"></i>
        {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row little-top-buffer">
    <div class="col-sm-4">
        <div class="fb-like" data-href="{{ post.url }}" data-layout="button_count"
             data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
    <div class="col-sm-2">
        <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
        <script type="IN/Share" data-counter="right"></script>
    </div>
    <div class="col-sm-2">
        <a href="https://www.pinterest.com/pin/create/button/">
            <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
        </a>
    </div>
    <div class="col-sm-4">
        <div class="g-plus" data-action="share"></div>
    </div>
</div>

<div class="row all-top-buffer">
    <div class="col-sm-12">
        {% if post.featured_images.count %}
            <div class="featured-images text-center">
                <img class="img-responsive"
                     data-src="{{ post.featured_images.0.filename }}"
                     src="{{ post.featured_images.0.path }}"
                     alt="{{ post.featured_images.0.description }}"/>

            </div>
        {% endif %}
    </div>
</div>

<div class="row all-top-buffer">
    <div class="col-sm-11">
        <p class="excerpt">{{ post.content_html|raw }}</p>
    </div>
</div>
<div class="row">
    {% if post.featured_images.count %}
        {% for image in post.featured_images %}
            {% if loop.index != 1 %}
                <div class="col-sm-12 text-center all-top-buffer">
                    <img
                            data-src="{{ image.filename }}"
                            src="{{ image.path }}"
                            alt="{{ image.description }}"
                            style="max-width: 100%"/>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>



