<!--Contact Starts-->
<div class="container contactform center">
<h2 class="text-center  wowload fadeInUp text-primary">Nous contacter</h2>
  <div class="row wowload fadeInLeftBig">      
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">
		  <p><strong>Courriel:</strong> <a href="mailto:info@eliejosiephotographie.com">info@eliejosiephotographie.com</a></p>
		 <p><strong>Téléphone:</strong><br>
			  <strong>Éliane:</strong> <a href="tel:5147935188">514.793.5188</a><br>
				  <strong>Josée:</strong> <a href="tel:5142460123"> 514.246.0123</a><p>

		<form role="form" class="form-horizontal" action="" method="post" novalidate>
		<fieldset>
			<input type="text" class="form-control" value="" name="name" id="name" placeholder="Votre nom" required>
			<input type="text" class="form-control" value="" name="email" id="name" placeholder="Votre courriel" required>
			<textarea style="resize: none" rows="5" class="form-control" value="" name="message" id="message" placeholder="Message" required minlength="5" data-validation-minlength-message="Min 5 characters" maxlength="999"></textarea>
			<div align="right"><button class="btn btn-primary" id="submit" type="submit"><i class="fa fa-paper-plane"></i> Soumettre</button></div>
		</fieldset>
		</form>
      </div>
  </div>

</div>
<!--Contact Ends-->
