<!-- Footer Starts -->
<p class="wowload flipInX">
    <a href="https://www.facebook.com/Élie-Josie-photographie-448359348562018" title="Page Facebook d'Élie & Josie Photographie"><i class="fa fa-facebook-square fa-2x text-primary"></i></a>
    <a href="https://www.linkedin.com/in/josée-broekaert-34b96b54" title="Page LinkedIn d'Élie & Josie Photographie"><i class="fa fa-linkedin-square fa-2x text-primary"></i></a>
    <a href="https://www.pinterest.com/liejosiephotogr/" title="Page Pinterest d'Élie & Josie Photographie"><i class="fa fa-pinterest-square fa-2x text-primary"></i></a>
    <a href="https://plus.google.com/106047593105793158276/" title="Page Google plus d'Élie & Josie Photographie"><i class="fa fa-google-plus-square fa-2x text-primary"></i></a>
</p>
<p class="power">&copy; {{ "now"|date("Y") }} Élie & Josie Photographie | Réalisation par <a href="http://www.betescurieuses.com" target="_blank" title="Agence de design et conception Web, Bêtes Curieuses Design">Bêtes Curieuses Design</a></p>
<!-- # Footer Ends -->
