<!-- works -->
    <figure class="effect-oscar  wowload fadeIn">
        <img src="{{ 'assets/images/portfolio/5.jpg'|theme }}" alt="img01" />
        <figcaption>
            <h4>Mariage</h4>
            <p><a href="{{ 'assets/images/portfolio/5.jpg'|theme }}" title="1" data-gallery>Voir nos photos</a></p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/2.jpg'|theme }}" alt="img01" />
        <figcaption>
            <h4>Portrait</h4>
            <p><a href="{{ 'assets/images/portfolio/2.jpg'|theme }}" title="1" data-gallery>Voir nos photos</a></p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/3.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h4>Corporatif</h4>
            <p><a href="{{ 'assets/images/portfolio/3.jpg'|theme }}" title="1" data-gallery>Voir nos photos</a></p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/portfolio/4.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h4>Famille & Maternité</h4>
            <p><a href="{{ 'assets/images/portfolio/4.jpg'|theme }}" title="1" data-gallery>Voir nos photos</a></p>
        </figcaption>
    </figure>

<!-- works -->
