<!-- works -->
    <figure class="effect-oscar  wowload fadeIn">
        <img src="{{ 'assets/images/ejp-pf-main-mariage.jpg'|theme }}" alt="img01" />
        <figcaption>
            <h4>Mariage</h4>
            <p><a href="mariage.htm" title="Section du portfolio, mariage.">Voir nos photos</a></p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/ejp-pf-main-portrait.jpg'|theme }}" alt="img01" />
        <figcaption>
            <h4>Portrait</h4>
            <p><a href="portrait.htm" title="Section du portfolio, portrait.">Voir nos photos</a></p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/ejp-pf-main-corporatif.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h4>Corporatif</h4>
            <p><a href="corporatif.htm" title="Section du portfolio, corporatif">Voir nos photos</a></p>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ 'assets/images/ejp-pf-main-famille.jpg'|theme }}" alt="img01"/>
        <figcaption>
            <h4>Famille & Maternité</h4>
            <p><a href="famille.htm" title="Section du portfolio, famille et maternité.">Voir nos photos</a></p>
        </figcaption>
    </figure>

<!-- works -->
